@font-face {
  font-family: 'robotoregular';
  src: url('../fonts/RobotoRegular/RobotoRegular.eot');
  src: url('../fonts/RobotoRegular/RobotoRegular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/RobotoRegular/RobotoRegular.woff') format('woff'),
  url('../fonts/RobotoRegular/RobotoRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotolight';
  src: url('../fonts/RobotoLight/RobotoLight.eot');
  src: url('../fonts/RobotoLight/RobotoLight.eot?#iefix') format('embedded-opentype'),
  url('../fonts/RobotoLight/RobotoLight.woff') format('woff'),
  url('../fonts/RobotoLight/RobotoLight.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}